<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Torrecitas de Hanoi</title>

    <link rel="stylesheet" href="../Statics/CSS/Hanoi.css">
  </head>
  <body>
    <h1>Torres de Hanoi</h1>
    <div class="instrucciones">
      <h2>Instrucciones</h2>
      <p>El juego consiste en pasar todos los discos desde la torre ocupada  a
         una de los otras torres vacías. Para realizar este objetivo, es necesario seguir tres simples reglas:</p>
      <ol>
        <li>Solo se puede mover un disco cada vez y para mover otro los demás tienen que estar en torres</li>
        <li>Un disco de mayor tamaño no puede estar sobre uno más pequeño que él mismo.</li>
        <li>Solo se puede desplazar el disco que se encuentre arriba en cada torre.</li>
      </ol>
    </div>
    <div class="container">
      <div id="torre1"></div>
      <div id="torre2"></div>
      <div id="torre3"></div>
    </div>
    <script type="text/javascript" src="../Dynamics/JS/Hanoi.js"></script>
  </body>
</html>
